In [3]:
import pandas as pd
fruits = pd.Series(['사과','바나나','포도'])
fruits

0     사과
1    바나나
2     포도
dtype: object

In [10]:
df = pd.DataFrame({
    '상품' : ['키보드', '마우스', '모니터'],
    '가격' : [30000, 15000, 200000],
    '재고' : [10, 25, 7]
})
df

    상품      가격  재고
0  키보드   30000  10
1  마우스   15000  25
2  모니터  200000   7

In [22]:
prod_s = df['상품']
prod_df = df[['상품']]
prod_s
prod_df

    상품
0  키보드
1  마우스
2  모니터