# 라이브러리 불러오기

In [2]:
import pandas as pd
menu = pd.Series(['비빔밥', '김치찌개', '된장찌개'])

menu


price = pd.Series([10000, 9000, 8000])
#display로 여러개 한번에 띄우기도 가능함.
#print(menu)
#print(price) 도 가능
display(menu,price)

0     비빔밥
1    김치찌개
2    된장찌개
dtype: object

0    10000
1     9000
2     8000
dtype: int64

In [3]:
#시리즈로 생성, 행렬느낌
df_from_series = pd.DataFrame({
    '메뉴': menu,
    '가격': price
})
df_from_series

     메뉴     가격
0   비빔밥  10000
1  김치찌개   9000
2  된장찌개   8000

In [4]:
#리스트(혹은 딕셔너리)로 직접 생성
df = pd.DataFrame({
    '메뉴': ['비빔밥', '김치찌개', '된장찌개'],
    '가격': [10000, 9000, 8000],
    '원산지': ['국내산', '국내산', '국내산']
})
df

     메뉴     가격  원산지
0   비빔밥  10000  국내산
1  김치찌개   9000  국내산
2  된장찌개   8000  국내산

In [5]:
#단일 컬럼 → Series
menu_series = df['메뉴']     # 타입: pandas.Series
#메뉴라는 키를 전달해서 시리즈형태로 내오기
menu_series
# type(menu_series)

0     비빔밥
1    김치찌개
2    된장찌개
Name: 메뉴, dtype: object

In [6]:
#단일 컬럼을 DataFrame으로
menu_df = df[['메뉴']]       # 타입: pandas.DataFrame
menu_df
# type(menu_df)

     메뉴
0   비빔밥
1  김치찌개
2  된장찌개

In [7]:
#여러 컬럼 선택
menu_price_df = df[['메뉴', '가격']]
menu_price_df

     메뉴     가격
0   비빔밥  10000
1  김치찌개   9000
2  된장찌개   8000

In [8]:
#컬럼 리스트를 변수로 관리해 선택
cols = ['메뉴', '가격']
menu_price_df2 = df[cols]
menu_price_df2

     메뉴     가격
0   비빔밥  10000
1  김치찌개   9000
2  된장찌개   8000

In [9]:
#타입 확인
print('df          : ', type(df))
print("df['가격']   : ", type(df['가격']))     # Series
print("df[['가격']] : ", type(df[['가격']]))   # DataFrame

df          :  <class 'pandas.core.frame.DataFrame'>
df['가격']   :  <class 'pandas.core.series.Series'>
df[['가격']] :  <class 'pandas.core.frame.DataFrame'>

In [10]:
#`loc` (레이블 기반)
# 첫 번째 행(인덱스 0) 전체
row0 = df.loc[0]
#df
row0

# 인덱스 0~1 범위(끝 포함)
rows_0_to_1 = df.loc[0:1]
# rows_0_to_1
# 조건식: 가격이 9000 이상인 행
rows_price_ge_9000 = df.loc[df['가격'] >= 9000, ['메뉴', '가격','원산지']]
# df['가격']
rows_price_ge_9000

     메뉴     가격  원산지
0   비빔밥  10000  국내산
1  김치찌개   9000  국내산

In [11]:
#`iloc` (정수 위치 기반)
# 첫 번째 행(정수 위치 0)
row0_iloc = df.iloc[0]
# row0_iloc
# 첫 2행(0,1)과 앞의 2개 컬럼(0,1)
sub_iloc = df.iloc[0:1, 0:2]
sub_iloc

    메뉴     가격
0  비빔밥  10000

In [12]:
#새 컬럼 추가
# 예: 10% 할인 가격 컬럼 추가
df['할인가'] = (df['가격'] * 0.9).astype(int)
df

     메뉴     가격  원산지   할인가
0   비빔밥  10000  국내산  9000
1  김치찌개   9000  국내산  8100
2  된장찌개   8000  국내산  7200

In [13]:
# 값 수정
# 예: '김치찌개' 가격 9500으로 변경
# df.loc[df['메뉴'] == '김치찌개', '가격'] = 9500
df.loc[df['메뉴'] == '김치찌개', '가격']

1    9000
Name: 가격, dtype: int64

In [21]:
# 가격 오름차순
df_sorted_asc = df.sort_values(by='가격', ascending=True)
df_sorted_asc
# 메뉴 오름차순
df_sorted_asc = df.sort_values(by='메뉴', ascending=True)
df_sorted_asc
# 가격 내림차순
# df_sorted_desc = df.sort_values(by='가격', ascending=False)
df_sorted_desc
# 가격 내림차순, 오름차순, 메뉴 오름차순 다 출력하기
display(df_sorted_desc,df_sorted_asc,df_sorted_asc)

     메뉴     가격  원산지   할인가
0   비빔밥  10000  국내산  9000
1  김치찌개   9000  국내산  8100
2  된장찌개   8000  국내산  7200

     메뉴     가격  원산지   할인가
1  김치찌개   9000  국내산  8100
2  된장찌개   8000  국내산  7200
0   비빔밥  10000  국내산  9000

     메뉴     가격  원산지   할인가
1  김치찌개   9000  국내산  8100
2  된장찌개   8000  국내산  7200
0   비빔밥  10000  국내산  9000

In [30]:
# 원산지가 국내산이면서 가격이 9000 이상
filtered = df[(df['원산지'] == '국내산') & (df['가격'] >= 9000)]

#위에 코드를 풀어서 사용하는 법
c = (df['원산지'] == '국내산') & (df['가격'] >= 9000)
c
display(filtered,c)

     메뉴     가격  원산지   할인가
0   비빔밥  10000  국내산  9000
1  김치찌개   9000  국내산  8100

0     True
1     True
2    False
dtype: bool

In [33]:
# 컬럼명 일괄 변경 예시
df_renamed = df.rename(columns={'메뉴': 'menu', '가격': 'price', '원산지': 'origin'})
df_renamed

   menu  price origin   할인가
0   비빔밥  10000    국내산  9000
1  김치찌개   9000    국내산  8100
2  된장찌개   8000    국내산  7200